html{
    height:100%;
}
Body{
    margin:0;
    font-family: soleil, sans-serif;
font-weight: 300;
font-style: normal;
color:sienna;
}

nav {
    Position: fixed;
    z-index: 5;
    left:0;
    right:0;
    font-family:bely-display, sans-serif;
    font-size: 22px;
  }

  h1, h2, h3, h4, h5 {
    font-family: bely-display, sans-serif;
  }

  h1{
    font-size:150px;
    color:sienna;
    margin:0;
  }

  h2{
      font-size: 90px;
  }

  .About h2{
      color:sienna;
      text-align:center;
  }

  .About-img{
      position: relative;
  }

  .About h4{
      position: absolute;
      z-index: 1;
      top: -5px;
  }

  .Skills h2{
    color:sienna;
    text-align:center;
    }
    
  .Contact h2{
      color:sienna;
      text-align:center;
  }

  h3{
      font-size: 50px;
  }
  .About h3 {
      color:sienna;
  }

  h4{
      font-size: 32px;
      color:sienna;
      background-color:wheat;
      display:inline-block;
      margin:0;
      padding:4px;
  }

  a{
      letter-spacing: 3px;
      color:sienna;
      font-size:18px;
      text-decoration:none;
      font-weight: ;
  }
.navigation{
    text-align:center;
}
.navigation li{ 
    display:inline-block; 
    margin:0 15px; 
    color:ivory;
}

.navigation li a {
    color:ivory;
    text-decoration: none;
}


.left-col, .right-col {
    text-align: center;
    height:90vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.left-col {
    background-color:wheat;
    text-align: center;
}
.right-col {
    background-color:wheat;
}

.top-container {
    width: 500px;
    margin: 0 auto;
}

.scroll {
    color:sienna;
    text-align: center;
}

.About {
    color: saddlebrown;
}
img{
    max-width:100%;
}

Footer{
    background-color:wheat;
    min-height:220px;
    background-image:url(../img/socialmediaa.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    color:Black; 
    text-align: center; 
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:60px;
}
.social-icon{
    Height:60px;
    margin:10px 20px;
}

.social-icons container {
    text-align: center;
}
